.header {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    position: fixed;
    width: 100%;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  transition: 280ms ease-out;
  cursor: pointer;
}

.quote > span > h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #02586f;
}

.quote > span > p {
  display: none;
}

.quote:hover {
  transform: scale(1.1);
}

.quote:hover > span > p {
  display: block;
  color: #02586f;
  font-size: 16px;
}
