.login {
  position: relative;
  height: 100%;
}

.loginContainer {
  position: absolute;
  z-index: 1;
  top: 30%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  transition: 280ms ease-out;
}

h1 {
  color: #053541;
  border-bottom: 1px solid;
  padding: 1em;
  margin: 5px 25px;
  font-size: 1.8em;
  font-weight: 500;
}

.loginWelcome {
  color: #053541;
  padding-top: 1rem;
  font-weight: 500;
}

p {
  color: #053541;
  padding: 0.5rem;
}
.button {
  padding: 10px;
  background-color: #053541;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15px;
  color: lightgrey;
  cursor: pointer;
}

.loginScreen__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.25) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.25) 100%
  );
}
