.settings {
  position: fixed;
  z-index: 1;
  bottom: 10%;
  right: 10%;
  padding: 10px;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  transition: 280ms ease-out;
}

.settingsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #053541;
  margin: 5px;
}

.title {
  color: #053541;
  padding-left: 10px;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.close {
  color: #053541;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.close:hover {
  transform: scale(1.2);
  border-radius: 999px;
  margin-right: 10px;
  padding: 0;
  transition: all 0.1s;
}

.settingsQuotes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #053541;
  margin-left: 10px;
  margin-right: 10px;
}

.titleSettingsQuotes {
  color: #053541;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
  padding: 10px;
}

.toggleOn {
  color: #053541;
  font-size: 3rem !important;
  padding-right: 15px;
  cursor: pointer;
}

.titleSettingsCustomize {
  color: #053541;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
  padding: 10px;
  margin-top: 20px;
}

.themeBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #053541;
  margin-left: 10px;
  margin-right: 10px;
}

.themeTitle {
  font-size: 1.2rem;
  margin-left: 15px;
  font-weight: 400;
}

.themeBoxChoice {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.dark {
  color: #053541;
  padding: 5px;
  margin: left 5px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.dark:hover {
  transform: scale(1.2);
}

.light {
  color: #053541;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.light:hover {
  transform: scale(1.2);
}
